<section class="rooms">
  <div class="title_box">
    <span></span>
    <h1 class="title">Guests Favorite Hotels</h1>
    <span></span>
  </div>
  <h1 class="loading" *ngIf="loading">Loading...</h1>
  <div class="content" *ngIf="!loading">
    <div *ngFor="let hotel of hotels" class="card">
      <div class="card__img">
        <img [src]="hotel.featuredImage" alt="rooms" width="355" height="300" />
      </div>
      <div class="card__bottom">
        <p class="name">{{ hotel.name }}</p>
      </div>
      <button
        [routerLink]="'/rooms/' + hotel.id"
        type="button"
        class="book_now"
      >
        VIEW ROOMS
      </button>
    </div>
  </div>
</section>
